.title{
  text-align: center;
  color: white;
}
#fotopersonagens{
  width: 200px;
  height: auto;
  display: block;
}
.List-planets{
  margin-left: 4rem;
  background-color: black;
}
.List-personagens{
  margin-left: 8rem;
  background-color: black;
}
.card-title{
  color: white;
}
.card{
  background-color: black;
}
.btn{
  background-color: white;
  color: black;
}
.aviso{
 color: red;
 font-size: 20px;
}
